$gradient-from: #2c299a;
$gradient-to: #6743ff;
$continue-btn: #303b59;
$result-score: #442fe4;
$text-color: #8f7ee8;

//Summary colors
$visual-color: #f3f3fd;
$reaction-color: #fff6f5;
$memory-color: #fffbf2;
$verbal-color: #f2fafa;

$visual-color-text: #2437a0;
$reaction-color-text: #d36b68;
$memory-color-text: #f7b32c;
$verbal-color-text: #4ec1a2;
